@charset "UTF-8";

#wrap {width:100%;}
#wrap #header {z-index:3;position:fixed;top:0;width:100%;height:75px;}
#wrap #header .wrap {width:100%;max-width:1000px;margin:0 auto;}
#wrap #header .wrap .gap {margin:0 15px;}
#wrap #header .wrap .gap .container {width:100%;}
#wrap #header .wrap .gap .container::after {content:'';display:block;clear:both;}

/* logo */
#wrap #header .wrap .gap .container .logo {text-align:center;line-height:75px;}
#wrap #header .wrap .gap .container .logo a {display:inline-block;line-height:100%;}
#wrap #header .wrap .gap .container .logo a img {width:50px;}

/* NAV */
#wrap #header .wrap .gap .container #nav {text-align:center;}
#wrap #header .wrap .gap .container #nav ul {line-height:75px;}
#wrap #header .wrap .gap .container #nav ul li {display:inline-block;margin:0 30px;}
#wrap #header .wrap .gap .container #nav ul li a {color:#fff;font-weight:500;font-size:15px;}





/* MAIN */

/* 섹션1 */
#wrap #main #section1 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-image: url("../img/spain.jpg");
    background-size: cover;
    background-color: #e2b9ff;
    background-position: center center;
    background-blend-mode: multiply;
}

h1 {
    color: #fff;
}

@-webkit-keyframes letter-in {
    0% {
        top: 1.5em;
    }
    100% {
        top: 0em;
    }
}

@keyframes letter-in {
    0% {
        top: 1.5em;
    }
    100% {
        top: 0em;
    }
}
@-webkit-keyframes letter-out {
    0% {
        top: 0em;
    }
    100% {
        top: -1.5em;
    }
}
@keyframes letter-out {
    0% {
        top: 0em;
    }
    100% {
        top: -1.5em;
    }
}
div.changing-title {
    font-size: 8vw;
    height: 1.5em;
    position: relative;
    width: 100%;
    overflow-y: hidden;
    margin-left: 1em;
        transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}
div.changing-title h1 {
    font-size: 1em;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}
div.changing-title h1 .letter {
    position: relative;
    top: 1.5em;
}
div.changing-title h1 .letter.in {
    -webkit-animation-name: letter-in;
            animation-name: letter-in;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
div.changing-title h1 .letter.out {
    top: 0em;
    -webkit-animation-name: letter-out;
            animation-name: letter-out;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}



/* 섹션2 */
#wrap #main #section2 {width:100%;height:969px;background:#32144f;border-bottom:1px solid rgba(255,255,255, .1);}
#wrap #main #section2 .wrap {width:100%;max-width:1000px;margin:0 auto;height:100%;}
#wrap #main #section2 .wrap .gap {position:relative;margin:0 15px;height:100%;}
#wrap #main #section2 .wrap .gap .container {position:absolute;width:100%;text-align:center;top:50%;margin-top:-180px;left:0;animation:s2Ani 3s ease-in-out;}
@keyframes s2Ani {
    0%   {
        left:-1000px;opacity:0;
    }
    100% {
        left:0;opacity:1;
    }
}
#wrap #main #section2 .wrap .gap .container h2 {font-size:75px;color:#fff;font-weight:700;padding:20px 0;}
#wrap #main #section2 .wrap .gap .container h3 {font-size:15px;color:#f0f0f0;font-weight:100;padding-bottom:50px;}
#wrap #main #section2 .wrap .gap .container p {width:auto;}
#wrap #main #section2 .wrap .gap .container p span {display:inline-block;}
#wrap #main #section2 .wrap .gap .container p span a {display:block;line-height:42px;padding:0 40px;border:4px solid #fff;font-size:16px;font-weight:600;background:rgba(255,255,255, 0);transition:all .3s;color:#fff;}
#wrap #main #section2 .wrap .gap .container p span a:hover {background:rgba(255,255,255, 1);color:#bd71ff;}




/* 섹션3 */
#wrap #main #section3 {width:100%;height:969px;background:#32144f;border-bottom:1px solid rgba(255,255,255, .1);}
#wrap #main #section3 .wrap {width:100%;max-width:1000px;margin:0 auto;height:100%;}
#wrap #main #section3 .wrap .gap {position:relative;margin:0 15px;height:100%;}
#wrap #main #section3 .wrap .gap .container {position:absolute;width:100%;text-align:center;top:50%;margin-top:-180px;right:0;animation:s3Ani 3s ease-in-out;}
@keyframes s3Ani {
    0%   {
        right:-1000px;opacity:0;
    }
    100% {
        right:0;opacity:1;
    }
}
#wrap #main #section3 .wrap .gap .container h2 {width:100%;font-size:50px;color:#fff;margin-bottom:150px;}
#wrap #main #section3 .wrap .gap .container h2 strong {font-size:60px;}
#wrap #main #section3 .wrap .gap .container ul {width:100%;}
#wrap #main #section3 .wrap .gap .container ul li {float:left;width:33.333%;}
#wrap #main #section3 .wrap .gap .container ul li .box {width:100%;}
#wrap #main #section3 .wrap .gap .container ul li .box a {display:inline-block;width:100%;}
#wrap #main #section3 .wrap .gap .container ul li .box a img {width:100%;max-width:150px;}




/* 섹션4 */
#wrap #main #section4 {width:100%;height:969px;background:#32144f;border-bottom:1px solid rgba(255,255,255, .1);}    
#wrap #main #section4 .wrap {width:100%;max-width:1000px;margin:0 auto;height:100%;}
#wrap #main #section4 .wrap .gap {position:relative;margin:0 15px;height:100%;}
#wrap #main #section4 .wrap .gap .container {position:absolute;width:100%;text-align:center;top:50%;margin-top:-250px;}
#wrap #main #section4 .wrap .gap .container .content {width:100%;height:100%;animation:s4Ani 3s ease-in-out;}
#wrap #main #section4 .wrap .gap .container .content .mainVideo {width:100%;height:100%;}
@keyframes s4Ani {
    0%   {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}




/* FOOTER */
#wrap #footer {z-index:1;position:relative;width:100%;height:auto;background:#32144f;}
#wrap #footer       .wrap {width:100%;max-width:1000px;margin:0 auto;}

#wrap #footer .row {width:100%;padding:30px 0 40px 0;}
#wrap #footer .row .wrap ul {width:100%;}
#wrap #footer .row .wrap ul li {width:100%;text-align:center;}

#wrap #footer .row .wrap ul li:nth-child(1) {padding-bottom:20px;}
#wrap #footer .row .wrap ul li:nth-child(2) {padding-bottom:20px;}

#wrap #footer .row .wrap ul li:nth-child(1) address i    {display:inline-block;color:#444;margin:0 7px;font-size:12px;}
#wrap #footer .row .wrap ul li:nth-child(1) address span {display:inline-block;color:#fff;font-size:12px;}
#wrap #footer .row .wrap ul li:nth-child(1) address span a {display:inline-block;color:#fff;vertical-align:top;}
#wrap #footer .row .wrap ul li:nth-child(1) address span a:hover {color:#bd71ff;}

#wrap #footer .row .wrap ul li:nth-child(2) span {display:inline-block;width:70px;height:30px;/* border:2px solid #fff;border-radius:4px;margin-right:10px; */}
#wrap #footer .row .wrap ul li:nth-child(2) span:nth-child(1) {width:130px;}
#wrap #footer .row .wrap ul li:nth-child(2) span a {display:block;text-align:center;line-height:30px;color:#fff;font-size:12px;font-weight:500;}
#wrap #footer .row .wrap ul li:nth-child(2) span a:hover {color:#bd71ff;}
#wrap #footer .row .wrap ul li:nth-child(2) span a img {width:100%;max-width:20px;margin-right:10px;}

#wrap #footer .row .wrap ul li:nth-child(3) span {display:block;color:#999;font-size:12px;}
